html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

webview {
  height: 100%;
  width: 100%;
}

.browser-window {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.status-bar {
  bottom: 0;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  position: absolute;
  width: 100%;
}
